<h1>Adicionar Publicações</h1>
<form action="/create-publication" method="POST">
  <label for="titulo">Título:</label>
  <input type="text" id="titulo" name="titulo" required>

  <label for="descricao">Descrição:</label>
  <input type="date" id="descricao" name="descricao" required>

  <label for="autor">Autor:</label>
  <input type="number" id="autor" name="autor" required>

  <label for="tema">Tema:</label>
  <input type="text" id="tema" name="tema" required>

  <button type="submit">Salvar</button>
</form>
<a href="/">Voltar</a>
